* {margin: 0;
   padding: 0;}

 body {
    background-color: black;
 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    background-color: rgb(247, 244, 244);
    padding:20px 50px;
    color: rgb(7, 7, 7);
    
 }

 h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    flex: 2;
    font-size: 80px;
    color: rgb(231, 111, 13);

 }

 
 .time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

 }

 .contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
 }


 .roll {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   gap: 5remS;
   padding-right: 2%;
   
}

 .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 1%;
   padding-left: 2%;


   h3 {
      text-align: center;
      font-size: 1.5rem;
      color: aliceblue;
      margin-right: 100%;
      
    }
 }

 .ingridients {
  color: aliceblue;
  text-align: left;
  font-size: 1rem;
  padding-bottom: 1rem;
 }

 .catalog button {
  background-color: #fa7b04;
  color: white;
  border: none;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
 }



    
    

 
  
 .sushi-black {
   width: 30%;
   min-width: 15rem;

 }

 .sushi-black img {
   width: 70%;
   
   aspect-ratio: 1/1;
   object-fit: cover;
   border-radius: 1rem;
   padding-top: 3%;
 }


 .about {
   display: flex;
   flex-direction: column;
   padding-top: 1rem;

   flex-shrink: 0;
   width: 20%;
   text-align: left;
   color: aliceblue;
   

   
 }

 .sales {
   display: flex;
   flex-direction: column;
   text-align: center;
   color: #fffdfd;

 }

 .sales h3 {
   font-size: 3.5rem;
   padding-bottom: 5%;
 }
 .sales img {
   width: 100%;
   min-width: 250px;
   padding-top: 10%;
 }


 .nav {
   display: flex;
   justify-content: space-around;
   padding: 10rem;
   color: aliceblue;
   
 }

 .menu {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   

 }

 .clients {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   
 }

 .foot-about {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   
 }

 .nav a {
   color: aliceblue;
 }