* {margin: 0;
   padding: 0;}

 body {
    background-color: black;
 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    padding:20px 50px;
    color: white;
    
 }

 h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color: rgb(241, 15, 15);

 }

 h2 {
   text-align: center;
   font-size: 5rem;
   color: rgb(254, 255, 255);
   padding-top: 7%;
   padding-bottom: 5%;
 }

 .roll {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   gap: 5remS;
   padding-right: 2%;
   
}

 .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 1%;
   padding-left: 2%;

    
    h3 {
      text-align: center;
      color: aliceblue;
      margin-right: 100%;
    }

 }
  
 .sushi-black {
   width: 30%;
   min-width: 15rem;

 }

 .sushi-black img {
   width: 70%;
   
   aspect-ratio: 1/1;
   object-fit: cover;
   border-radius: 1rem;
   padding-top: 3%;
 }


 .about {
   display: flex;
   flex-direction: column;

   flex-shrink: 0;
   width: 20%;
   text-align: left;
   color: aliceblue;
   

   
 }

 .sales {
   display: flex;
   flex-direction: column;
   text-align: center;
   color: #fffdfd;S

 }

 .sales h3 {
   font-size: 3.5rem;
   padding-bottom: 5%;
 }
 .sales img {
   width: 100%;
   min-width: 250px;
   padding-top: 10%;
 }